<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- .col -->
    <div class="col w-lg bg-light dk b-r bg-auto" id="aside">
        <div class="wrapper bg b-b">
            <button ng-click="createProject()" class="btn m-b-xs w-xs btn-sm btn-primary btn-addon pull-right">
                <i class="fa fa-plus"></i>
                Create
            </button>

            <h3 class="m-n font-thin">Projects</h3>

        </div>
        <div class="wrapper b-t">
            <div class="input-group">
                <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
            </div>
        </div>
        <div class="wrapper m-t-n-sm">
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="list-group">

                            <a ng-repeat="project in projects | filter:query" class="list-group-item b-l-3x hover-anchor" ng-class="{'hover': project.selected }" ng-click="selectProject(project)">
                                <span class="block text-ellipsis" ng-bind="project.name"></span>
                                <small class="text-muted">12.01.34</small>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col">
        <div class="wrapper bg b-b">
            <button ng-hide="project.editing" ng-click="removeProject()" class="btn m-b-xs w-xs m-l-sm btn-sm btn-danger btn-addon pull-right">
                <i class="fa fa-trash-o"></i>
                Remove
            </button>
            <button ng-hide="project.editing" ng-click="editProject()" class="btn m-b-xs w-xs btn-sm btn-info btn-addon pull-right">
                <i class="fa fa-pencil"></i>
                Edit
            </button>
            <button ng-show="project.editing" ng-click="saveProject()" class="btn m-b-xs w-xs btn-sm btn-success btn-addon pull-right">
                <i class="fa fa-check"></i>
                Done
            </button>

            <h3 class="m-n font-thin" ng-bind="project.name"></h3>
            <input ng-class="{'none' : !project.editing}" ng-model="project.name" class="form-control m-t-xs" placeholder="Project name" type="text"/>
        </div>
        <div class="wrapper">
            <p ng-hide="_.isNull(project.description)" ng-bind="project.description"></p>
            <p ng-show="_.isNull(project.description) && !project.editing">Description is empty.</p>

            <input ng-class="{'none' : !project.editing}" ng-model="project.description" class="form-control m-t-xs" placeholder="Project description" type="text"/>

            <div class="line line-dashed b-b line-lg"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">
                            Project complited
                        </div>
                        <div class="panel-body text-center">
                            <h4><small>last </small>12<small> hrs</small></h4>
                            <small class="text-muted block">yesterday: 20%</small>
                            <div class="inline">
                                <div ui-jq="easyPieChart"  ui-options="{
                                      percent: 25,
                                      lineWidth: 10,
                                      trackColor: '{{app.color.light}}',
                                      barColor: '{{app.color.success}}',
                                      scaleColor: '{{app.color.light}}',
                                      size: 188,
                                      lineCap: 'butt',
                                      animate: 1000
                                    }">
                                <div>
                                        <span class="h2 m-l-sm step">25</span>%
                                        <div class="text text-sm">today</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer"><small>% of change</small></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Tasks completed</div>
                        <div class="panel-body text-center">
                            <div ui-jq="plot" ui-options="
                              {{d3}},
                              {
                                series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                                colors: ['{{app.color.primary}}','{{app.color.info}}','{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}'],
                                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                                tooltip: true,
                                tooltipOpts: { content: '%s: %p.0%' }
                              }
                            " style="height:289px">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.col -->
</div>