<!-- navbar -->
<div data-ng-include=" 'app/modules/core/views/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include=" 'app/modules/core/views/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
</div>
<!-- / menu -->

<!-- content -->
<div class="app-content">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col bg-auto no-border-xs">
            <div ui-butterbar></div>
            <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
            <div class="app-content-body fade-in-up" ng-class="{'h-full': app.hideFooter }" ui-view>
                
            </div>
        </div>
        <div data-ng-include=" 'app/modules/core/views/blocks/right.col.html' " class="col w-md bg-white-only b-l bg-auto no-border-xs">
        </div>
    </div>
</div>
<!-- /content -->
<toaster-container data-toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2014 Copyright.
</div>
<!-- / footer -->

<div data-ng-include=" 'app/modules/core/views/blocks/settings.html' " class="settings panel panel-default">
</div>