<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- .col -->
    <div class="col w-lg bg-light dk b-r bg-auto" id="aside">
        <div class="wrapper bg b-b">
            <button ng-click="createTask()" class="btn m-b-xs w-xs btn-sm btn-primary btn-addon pull-right">
                <i class="fa fa-plus"></i>
                Create
            </button>

            <h3 class="m-n font-thin">Tasks</h3>

        </div>
        <div class="wrapper b-t">
            <div class="input-group">
                <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
            </div>
        </div>
        <div class="wrapper m-t-n-sm" ng-if="!noData">
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="list-group">

                            <a ng-repeat="task in tasks | filter:query" class="list-group-item b-l-3x hover-anchor" ng-class="{'hover': task.selected }" ng-click="selectTask(task)">
                                <span ng-bind="task.title" class="block text-ellipsis"></span>
                                <small ng-bind="task.created_at" class="text-muted"></small>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col" ng-if="!noData">
        <div class="wrapper bg b-b">
            <button ng-hide="task.editing" ng-click="removeTask()" class="btn m-b-xs w-xs m-l-sm btn-sm btn-danger btn-addon pull-right">
                <i class="fa fa-trash-o"></i>
                Remove
            </button>
            <button ng-hide="task.editing" ng-click="editTask()" class="btn m-b-xs w-xs btn-sm btn-info btn-addon pull-right">
                <i class="fa fa-pencil"></i>
                Edit
            </button>
            <button ng-show="task.editing" ng-click="saveTask()" class="btn m-b-xs w-xs btn-sm btn-success btn-addon pull-right">
                <i class="fa fa-check"></i>
                Done
            </button>

            <h3 class="m-n font-thin" ng-bind="task.title"></h3>
            <input ng-class="{'none' : !task.editing}" ng-model="task.title" class="form-control m-t-xs" placeholder="Task name" type="text"/>
        </div>
        <div class="wrapper">
            <p ng-hide="_.isNull(task.description)" ng-bind="task.description"></p>
            <p ng-show="_.isNull(task.description) && !task.editing">Description is empty.</p>

            <input ng-class="{'none' : !task.editing}" ng-model="task.description" class="form-control m-t-xs" placeholder="Task description" type="text"/>

            <div class="line line-dashed b-b line-lg"></div>

        </div>
    </div>
    <div class="col" ng-if="noData">
        <h1>No tasks</h1>
    </div>
    <!-- /.col -->
</div>