<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <i class="fa fa-tachometer"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.projects">
      <i class="fa fa-flask icon text-info-lter"></i>
      <span class="font-bold" translate="aside.nav.PROJECTS">Projects</span>
    </a>
  </li>
    <li ui-sref-active="active">
        <a ui-sref="app.tasks">
            <i class="fa fa-tasks icon text-info-lter"></i>
            <span class="font-bold" translate="aside.nav.TASKS">Tasks</span>
        </a>
    </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold">Apps</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>Apps</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>Note</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>Contacts</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.weather">
          <span>Weather</span>
        </a>
      </li>
    </ul>
  </li>

</ul>
<!-- / list -->