    <tabset class="nav-tabs-alt" justified="true">
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>
            </tab-heading>
            <div class="wrapper-md">
                <div class="m-b text-md">Recent Activity</div>
                <div class="streamline b-l m-b">
                    <div class="sl-item">
                        <div class="m-l">
                            <div class="text-muted">5 minutes ago</div>
                            <p><a href class="text-info">Jessi</a> commented your post.</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="m-l">
                            <div class="text-muted">11:30</div>
                            <p>Join comference</p>
                        </div>
                    </div>
                    <div class="sl-item b-success b-l">
                        <div class="m-l">
                            <div class="text-muted">10:30</div>
                            <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
                        </div>
                    </div>
                    <div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
                        Create tasks for the team
                    </div>
                    <div class="sl-item b-primary b-l">
                        <div class="m-l">
                            <div class="text-muted">Wed, 25 Mar</div>
                            <p>Finished task <a href class="text-info">Testing</a>.</p>
                        </div>
                    </div>
                    <div class="sl-item b-warning b-l">
                        <div class="m-l">
                            <div class="text-muted">Thu, 10 Mar</div>
                            <p>Trip to the moon</p>
                        </div>
                    </div>
                    <div class="sl-item b-info b-l">
                        <div class="m-l">
                            <div class="text-muted">Sat, 5 Mar</div>
                            <p>Prepare for presentation</p>
                        </div>
                    </div>
                    <div class="sl-item b-l">
                        <div class="m-l">
                            <div class="text-muted">Sun, 11 Feb</div>
                            <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
                        </div>
                    </div>
                    <div class="sl-item b-l">
                        <div class="m-l">
                            <div class="text-muted">Thu, 17 Jan</div>
                            <p>Follow up to close deal</p>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-comment text-md text-muted wrapper-sm"></i>
            </tab-heading>
            <div class="wrapper-md">
                <div class="m-b-sm text-md">Chat</div>
                <ul class="list-group no-borders pull-in auto">
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm m-r"><img src="#" alt="..." class="img-circle"></span>
                        <a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
                        <div class="clear">
                            <div><a href="">Chris Fox</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm m-r"><img src="#" alt="..." class="img-circle"></span>
                        <a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
                        <div class="clear">
                            <div><a href="">Amanda Conlan</a></div>
                            <small class="text-muted">about 2 hours ago</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm m-r"><img src="#" alt="..." class="img-circle"></span>
                        <a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
                        <div class="clear">
                            <div><a href="">Dan Doorack</a></div>
                            <small class="text-muted">3 days ago</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-left thumb-sm m-r"><img src="#" alt="..." class="img-circle"></span>
                        <a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
                        <div class="clear">
                            <div><a href="">Lauren Taylor</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                        </div>
                    </li>
                </ul>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i>
            </tab-heading>
            <div class="wrapper-md">
                <div class="m-b-sm text-md">Transaction</div>
                <ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
                    <li class="list-group-item">
                        <span class="text-muted">Transfer to Jacob at 3:00 pm</span>
                        <span class="block text-md text-info">B 15,000.00</span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Got from Mike at 1:00 pm</span>
                        <span class="block text-md text-primary">B 23,000.00</span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Sponsored ORG at 9:00 am</span>
                        <span class="block text-md text-warning">B 3,000.00</span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Send to Jacob at 8:00 am</span>
                        <span class="block text-md">B 11,000.00</span>
                    </li>
                </ul>
            </div>
        </tab>
    </tabset>
